.section-education{
    .edu-header{
        margin-bottom: 10px;
        margin-top: 90px;
    }
    .education-box-container{
        margin-bottom: 12px;
    }
    .edu-info{
        font-size: 12px;
    }
    .school{
        margin-bottom: 5px;
    }
    .study{
        margin-bottom: 9px;
    }
}