.section-exp{
    margin-top: 80px;
    margin-bottom: 40px;

    .exp-header{
        margin-bottom: 10px;
    }
    .exp-box{
        margin-bottom: 15px;
        a{
            text-decoration: none;
        }
    }
    .company{
        margin-bottom: 5px;
    }
    .users{
        margin-bottom: 8px;
    }
}